*~
*.o
*.o.cmd
*.ko.cmd
*.deb
*.changes
kernel-module/.tmp_versions/*
kernel-module/Module.symvers
kernel-module/modules.order
kernel-module/*.ko
kernel-module/*.mod.c
test/rootfs-base/*
test/rootfs-base
test/rootfs-prereqs/**
test/rootfs-prereqs
test/rootfs-superman/*
test/rootfs-superman
test/rootfs/*
test/rootfs
test/rootfs.qcow2
test/openssl/*
test/openssl
test/pkgs/*
test/pkgs
test/mountpoint/*
test/mountpoint
daemon/superman
superman-1.0/debian/*.log
superman-1.0/debian/superman/*
