[Unit]
Description=configure and load SUPERMAN
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/bin/configure_node

[Install]
WantedBy=network.target
